{{#each students }} 
<ul>
    <li>name: {{name}}</li>+
    <li>email: {{email}}</li>
    <li>gender: {{gender}}</li>
    <li>image: <img src="{{image}}" width="100" height="100"></li>
</ul>
{{#each students}}
